@media screen and (max-width: 850px) {
  /* line 3, ../sass/articles-content.scss */
  #container .content {
    width: 90% !important;
  }

  /* line 7, ../sass/articles-content.scss */
  #other-articles {
    width: 90% !important;
  }
  /* line 9, ../sass/articles-content.scss */
  #other-articles h3::after {
    width: 80% !important;
  }

  /* line 13, ../sass/articles-content.scss */
  #disqus {
    width: 90% !important;
  }

  /* line 17, ../sass/articles-content.scss */
  .md iframe {
    height: 400px !important;
  }
  /* line 20, ../sass/articles-content.scss */
  .md .article-date {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  /* line 26, ../sass/articles-content.scss */
  .article-date {
    display: none !important;
  }

  /* line 29, ../sass/articles-content.scss */
  #disqus {
    display: none !important;
  }

  /* line 32, ../sass/articles-content.scss */
  .md {
    padding: 0 20px 50px !important;
  }

  /* line 35, ../sass/articles-content.scss */
  #other-articles {
    padding: 20px !important;
  }
  /* line 37, ../sass/articles-content.scss */
  #other-articles h3::after {
    left: 30px !important;
  }

  /* line 41, ../sass/articles-content.scss */
  .content > i {
    display: none !important;
  }

  /* line 45, ../sass/articles-content.scss */
  .md h2::after {
    display: none;
  }
  /* line 48, ../sass/articles-content.scss */
  .md iframe {
    height: 260px !important;
  }
}
/* line 70, ../sass/articles-content.scss */
#container .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 850px;
  margin: 20px auto 20px;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}
/* line 79, ../sass/articles-content.scss */
#container .content > i {
  display: inline-block;
  width: 56px;
  height: 44px;
  position: absolute;
  top: 25px;
  left: -10px;
  background-image: url(/img/layout/sprites.png);
}
/* line 88, ../sass/articles-content.scss */
#container .content .tag-ui {
  background-position: 0 -88px;
}
/* line 91, ../sass/articles-content.scss */
#container .content .tag-others {
  background-position: 0 -44px;
}
/* line 94, ../sass/articles-content.scss */
#container .content .tag-creative {
  background-position: 0 0;
}
/* line 97, ../sass/articles-content.scss */
#container .content .tag-photo {
  background-position: 0 -132px;
}
/* line 100, ../sass/articles-content.scss */
#container .content .tag-web {
  background-position: 0 -176px;
}
/* line 103, ../sass/articles-content.scss */
#container .content .tag-share {
  background-position: 0 -220px;
}
/* line 106, ../sass/articles-content.scss */
#container .content .tag-css {
  background-position: 0 -264px;
}
/* line 110, ../sass/articles-content.scss */
#container .social-icon {
  position: fixed;
  top: 75px;
  display: none;
  opacity: .6;
}
/* line 115, ../sass/articles-content.scss */
#container .social-icon > i {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(/img/layout/sprites.png);
  background-repeat: no-repeat;
  margin: 5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
/* line 125, ../sass/articles-content.scss */
#container .social-icon > i > i {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(/img/layout/sprites.png);
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0;
}
/* line 138, ../sass/articles-content.scss */
#container .social-icon > i span {
  position: absolute;
  width: 0px;
  top: 5px;
  left: 27px;
  font-size: 12px;
  color: #333;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}
/* line 150, ../sass/articles-content.scss */
#container .social-icon > i > i:hover {
  opacity: 1;
}
/* line 153, ../sass/articles-content.scss */
#container .social-icon > i > i:hover + span {
  opacity: 1;
  width: 120px;
}
/* line 157, ../sass/articles-content.scss */
#container .social-icon .icon-home {
  background-position: -128px 0;
}
/* line 160, ../sass/articles-content.scss */
#container .social-icon .icon-home > i {
  background-position: -99px 0;
}
/* line 163, ../sass/articles-content.scss */
#container .social-icon .icon-facebook {
  background-position: -128px -28px;
}
/* line 166, ../sass/articles-content.scss */
#container .social-icon .icon-facebook > i {
  background-position: -99px -28px;
}
/* line 169, ../sass/articles-content.scss */
#container .social-icon .icon-google {
  background-position: -128px -57px;
}
/* line 172, ../sass/articles-content.scss */
#container .social-icon .icon-google > i {
  background-position: -99px -57px;
}
/* line 175, ../sass/articles-content.scss */
#container .social-icon .icon-twitter {
  background-position: -128px -86px;
}
/* line 178, ../sass/articles-content.scss */
#container .social-icon .icon-twitter > i {
  background-position: -99px -86px;
}
/* line 181, ../sass/articles-content.scss */
#container .social-icon .icon-list {
  background-position: -128px -145px;
}
/* line 184, ../sass/articles-content.scss */
#container .social-icon .icon-list > i {
  background-position: -99px -145px;
}
/* line 187, ../sass/articles-content.scss */
#container .social-icon .goto-top {
  background-position: -128px -115px;
}
/* line 190, ../sass/articles-content.scss */
#container .social-icon .goto-top > i {
  background-position: -99px -115px;
}

/* line 195, ../sass/articles-content.scss */
#other-articles {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 850px;
  margin: 0 auto 20px;
  padding: 20px 45px;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}
/* line 205, ../sass/articles-content.scss */
#other-articles a {
  color: #666;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
/* line 209, ../sass/articles-content.scss */
#other-articles a:hover {
  color: #000;
}
/* line 212, ../sass/articles-content.scss */
#other-articles h3 {
  margin: 10px 10px 20px;
}
/* line 215, ../sass/articles-content.scss */
#other-articles h3::after {
  content: '';
  position: absolute;
  top: 60px;
  left: 45px;
  width: 760px;
  height: 1px;
  background: url(/img/layout/content_line.gif);
}
/* line 224, ../sass/articles-content.scss */
#other-articles div {
  width: 130px;
  display: inline-block;
  margin: 10px;
}
/* line 228, ../sass/articles-content.scss */
#other-articles div img {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
/* line 233, ../sass/articles-content.scss */
#other-articles div h4 {
  width: 100%;
  height: 16px;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 245, ../sass/articles-content.scss */
#other-articles div:hover img {
  margin: -2px 0 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* line 251, ../sass/articles-content.scss */
#disqus {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 850px;
  margin: 0 auto 40px;
  padding: 20px 45px;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}

/* line 262, ../sass/articles-content.scss */
.md {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  padding: 20px 60px 50px;
  max-width: 850px;
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  /* BLOCKS
=============================================================================*/
  /* HEADERS
=============================================================================*/
  /* LINKS
=============================================================================*/
  /* LISTS
=============================================================================*/
  /* CODE
=============================================================================*/
  /* QUOTES
=============================================================================*/
  /* HORIZONTAL RULES
=============================================================================*/
  /* TABLES
=============================================================================*/
  /* IMAGES
=============================================================================*/
}
/* line 274, ../sass/articles-content.scss */
.md p, .md blockquote, .md ul, .md ol, .md dl, .md table, .md pre {
  margin: 15px 0;
}
/* line 277, ../sass/articles-content.scss */
.md p {
  max-width: 100%;
}
/* line 282, ../sass/articles-content.scss */
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  margin: 20px 0 10px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
/* line 287, ../sass/articles-content.scss */
.md h1 tt, .md h1 code, .md h2 tt, .md h2 code, .md h3 tt, .md h3 code, .md h4 tt, .md h4 code, .md h5 tt, .md h5 code, .md h6 tt, .md h6 code {
  font-size: inherit;
}
/* line 290, ../sass/articles-content.scss */
.md h1 {
  font-size: 28px;
  color: #000;
}
/* line 294, ../sass/articles-content.scss */
.md h2 {
  font-size: 28px;
  color: #000;
  display: inline-block;
  width: 100%;
  position: relative;
}
/* line 301, ../sass/articles-content.scss */
.md h2::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 1px;
  background: url(/img/layout/content_line.gif);
}
/* line 310, ../sass/articles-content.scss */
.md h3 {
  font-size: 18px;
  font-weight: 900;
}
/* line 314, ../sass/articles-content.scss */
.md h4 {
  font-size: 16px;
}
/* line 317, ../sass/articles-content.scss */
.md h5 {
  font-size: 14px;
}
/* line 320, ../sass/articles-content.scss */
.md h6 {
  color: #777;
  font-size: 14px;
}
/* line 324, ../sass/articles-content.scss */
.md body > h2:first-child, .md body > h1:first-child, .md body > h1:first-child + h2, .md body > h3:first-child, .md body > h4:first-child, .md body > h5:first-child, .md body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
/* line 328, ../sass/articles-content.scss */
.md a:first-child h1, .md a:first-child h2, .md a:first-child h3, .md a:first-child h4, .md a:first-child h5, .md a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
/* line 332, ../sass/articles-content.scss */
.md h1 + p, .md h2 + p, .md h3 + p, .md h4 + p, .md h5 + p, .md h6 + p {
  margin-top: 10px;
}
/* line 335, ../sass/articles-content.scss */
.md strong {
  font-weight: 900;
}
/* line 340, ../sass/articles-content.scss */
.md a {
  color: #4183C4;
  text-decoration: none;
}
/* line 344, ../sass/articles-content.scss */
.md a:hover {
  text-decoration: underline;
}
/* line 349, ../sass/articles-content.scss */
.md ul, .md ol {
  padding-left: 30px;
}
/* line 352, ../sass/articles-content.scss */
.md li {
  list-style: disc;
}
/* line 355, ../sass/articles-content.scss */
.md ul li > :first-child, .md ol li > :first-child, .md ul li ul:first-of-type, .md ol li ol:first-of-type, .md ul li ol:first-of-type, .md ol li ul:first-of-type {
  margin-top: 0px;
}
/* line 358, ../sass/articles-content.scss */
.md ul ul, .md ul ol, .md ol ol, .md ol ul {
  margin-bottom: 0;
}
/* line 361, ../sass/articles-content.scss */
.md dl {
  padding: 0;
}
/* line 364, ../sass/articles-content.scss */
.md dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
/* line 371, ../sass/articles-content.scss */
.md dl dt:first-child {
  padding: 0;
}
/* line 374, ../sass/articles-content.scss */
.md dl dt > :first-child {
  margin-top: 0px;
}
/* line 377, ../sass/articles-content.scss */
.md dl dt > :last-child {
  margin-bottom: 0px;
}
/* line 380, ../sass/articles-content.scss */
.md dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
/* line 384, ../sass/articles-content.scss */
.md dl dd > :first-child {
  margin-top: 0px;
}
/* line 387, ../sass/articles-content.scss */
.md dl dd > :last-child {
  margin-bottom: 0px;
}
/* line 392, ../sass/articles-content.scss */
.md pre, .md code, .md tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  word-break: break-all !important;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
/* line 399, ../sass/articles-content.scss */
.md code, .md tt {
  margin: 0 5px;
  padding: 2px 2px;
  white-space: nowrap;
  border: 1px solid #aaa;
  background-color: #ddd;
  border-radius: 3px;
}
/* line 407, ../sass/articles-content.scss */
.md pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
/* line 414, ../sass/articles-content.scss */
.md pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
/* line 422, ../sass/articles-content.scss */
.md pre strong {
  background: #fc0;
}
/* line 426, ../sass/articles-content.scss */
.md pre code, .md pre tt {
  background-color: transparent;
  border: none;
}
/* line 430, ../sass/articles-content.scss */
.md kbd {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #DDDDDD;
  background-image: linear-gradient(#f1f1f1, #dddddd);
  background-repeat: repeat-x;
  border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
  border-image: none;
  border-radius: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 10px;
  padding: 1px 4px;
}
/* line 449, ../sass/articles-content.scss */
.md blockquote {
  word-wrap: break-word;
  word-break: normal;
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}
/* line 456, ../sass/articles-content.scss */
.md blockquote > :first-child {
  margin-top: 0px;
}
/* line 459, ../sass/articles-content.scss */
.md blockquote > :last-child {
  margin-bottom: 0px;
}
/* line 464, ../sass/articles-content.scss */
.md hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 4px solid #ddd;
  padding: 0;
}
/* line 476, ../sass/articles-content.scss */
.md table th {
  font-weight: bold;
}
/* line 479, ../sass/articles-content.scss */
.md table th, .md table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}
/* line 483, ../sass/articles-content.scss */
.md table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}
/* line 487, ../sass/articles-content.scss */
.md table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
/* line 492, ../sass/articles-content.scss */
.md img {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto 20px;
}
/* line 498, ../sass/articles-content.scss */
.md svg {
  max-width: 100%;
}
/* line 501, ../sass/articles-content.scss */
.md .article-date {
  display: inline-block;
  font-size: 14px;
  color: #777;
  float: right;
  font-weight: normal;
  line-height: 54px;
}
/* line 508, ../sass/articles-content.scss */
.md .article-date > i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px -3px 0;
  background-image: url(/img/layout/sprites.png);
  background-repeat: no-repeat;
  background-position: -69px -61px;
}
/* line 518, ../sass/articles-content.scss */
.md iframe {
  width: 100%;
  height: 450px;
}
