html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body * {
    position: relative;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    line-height: 1.8;
}

h1 {
    text-align: center;
    width: 100%;
    background: #345;
    color: #fff;
    margin: 0;
    padding: 13px 0 0;
    font-size: 1.5rem;
    z-index: 9999;
    height: 70px;
}

@media (max-width:640px) {
    h1 {
        position: fixed;
        top: 0;
        left: 0;
    }

    h1 span {
        display: none;
    }
}

main {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
}

@media (max-width:640px) {
    main {
        margin-top: 70px;
    }
}

aside {
    width: 165px;
    height: auto;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    z-index: 1000;
    background: #fff;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10000;
}

aside.fixed {
    position: fixed;
    top: 15px;
}

aside h4 {
    font-size: 1rem;
    margin: 0 0 5px;
    font-weight: normal;
}

aside a {
    display: inline-block;
    margin-right: 2px;
}

@media (max-width:640px) {
    aside {
        width: 95%;
        height: 100vh;
        padding: 25px;
        border: none;
        border-right: 2px solid #ccc;
        box-shadow: #000 0 0 0;
        position: fixed;
        top: 0;
        left: auto;
        right: -110%;
        border-radius: 0;
        background: #333;
        z-index: 10001;
        color: #fff;
    }

    aside.fixed {
        top: 0;
    }

    aside h4 {
        font-size: 24px;
        margin: 0 0 20px;
        padding: 0;
    }

    aside a {
        color: #fff;
        font-size: 20px;
        margin: 0 15px 5px 0;
    }

    aside.show {
        right: -30px;
    }
}

a {
    color: #05a;
}

a:hover {
    color: #f50;
}

.content {
    width: calc(100% - 540px);
    position: absolute;
    top: 15px;
    left: 200px;
}

@media (max-width:1024px) {
    .content {
        width: calc(100% - 220px);
    }
}

@media (max-width:640px) {
    .content {
        padding: 0;
        text-align: center;
        width: calc(100% - 20px);
        left: 10px;
    }

    .content h2 {
        padding: 0 10px;
        text-align: left;
    }
}

h2 {
    width: 100%;
    margin: 0 0 30px;
    font-weight: normal;
    padding: 0;
    font-size: 1rem;
}

h2 * {
    font-size: 1rem;
}

h2 b {
    color: #f50;
    font-weight: bold;
}

@media (max-width:640px) {
    h2 {
        padding: 0 20px;
        line-height: 28px;
        font-size: 1.1rem;
    }

    h2 * {
        font-size: 1.1rem;
    }

    h2 span {
        margin-top: 12px;
        border-top: 2px solid #ddd;
        padding-top: 8px;
        display: block;
    }
}

.toplink {
    transition: .2s;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background: #09c;
    display: inline-block;
    padding: 0 15px;
    border-radius: 20px;
}

.toplink:hover {
    color: #fff;
    background: #f50;
}

.list {
    width: 100%;
}

h3 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    font-size: 1.2rem;
    pointer-events: none;
}
h3+span{
    display:inline-block;
    width:100%;
    text-align:center;
    color:#888;
    font-size:1rem;
    margin:5px 0 15px;
}

@media (max-width:1024px) {
    h3 {
        padding-top: 100px;
        margin-top: -80px;
        border: none;
        position: relative;
        pointer-events: none;
    }
}

.box {
    margin-bottom: 20px;
}

.box span {
    position: relative;
    width: 31%;
    max-width: 136px;
    height: 42px;
    padding: 5px 0;
    margin: 0 4px 8px 0;
    display: inline-block;
    cursor: pointer;
    border: 2px dotted #ccc;
    border-radius: 5px;
    line-height: 26px;
    text-align: center;
    font-size: 1rem;
}

@media (max-width:640px) {
    .box span {
        font-size: 0.9rem;
    }
}

.box span::before {
    content: "已複製";
    position: absolute;
    top: -26px;
    right: 0;
    width: auto;
    background: #000;
    display: inline-block;
    box-shadow: border-box;
    padding: 2px 10px;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    opacity: 0;
    transition: .3s;
    z-index: 99;
    pointer-events: none;
}

@media (max-width:640px) {
    .box span::before {
        font-size: 15px;
        width: 50px;
    }
}

.box span.now {
    border-style: solid;
    border-color: #c00;
    background: #ffeeee;
}

.box span.now::before {
    top: -35px;
    opacity: .7;
}

.box span.selected {
    border-style: solid;
    border-color: #aaa;
    background: #eee;
}

#menu {
    position: fixed;
    top: 34px;
    right: 20px;
    width: 30px;
    height: 4px;
    background: #fff;
    z-index: 10002;
    cursor: pointer;
    display: none;
}

#menu::before,
#menu::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 20px;
    top: -10px;
    left: 0;
}

#menu::before {
    border-top: 4px solid #fff;
    transform-origin: top left;
}

#menu::after {
    border-bottom: 4px solid #fff;
    transform-origin: bottom left;
}

#menu #reddot {
    position: absolute;
    right: -10px;
    top: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    z-index: 10004;
    color: #fff;
    animation-name: reddot;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#menu #reddot.hidden {
    display: none;
}

@keyframes reddot {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}

#menu.open {
    right: 15px;
    background: transparent;
}

#menu.open::before {
    transform: rotate(45deg);
}

#menu.open::after {
    transform: rotate(-45deg);
}

@media(max-width:640px) {
    #menu {
        display: block;
    }
}


.ad {
    width: 300px;
    height: 600px;
    margin: 0;
    display: inline-block;
    background: #fff;
    overflow: hidden;
    position: absolute;
    top: 15px;
    right: 15px;
}

.ad.fixed {
    position: fixed;
    top: 15px;
    right: 15px;
}

.ad .adsbygoogle {
    width: 100%;
    margin-bottom: 20px;
}

.adsbygoogle.top {
    width: 100%;
    height: 90px;
}

.adsbygoogle.in {
    width: 100%;
    height: 280px;
}

.ad-content {
    width: 100%;
}

.ad-content.in{
    height: 280px;
}

.ad-content.top {
    height: 90px;
}

.ad.hidden,
.ad-content.hidden {
    display: none;
}

@media (max-width:1024px) {
    .ad {
        display: none;
    }
}

@media (max-width:640px) {
    .ad-content.top {
        height: 90px;
    }
}

.contentAD {
    width: 100%;
    margin: 0 auto 10px;
    padding: 0 0 30px;
    height: 100px;
}

@media (max-width:1024px) {
    .contentAD {
        display: none;
        padding: 0 30px 30px;
    }

    .adsbygoogle.top {
        width: 100%;
        height: 280px;
    }
}

.ad-footer {
    display: none;
    position: fixed;
    z-index: 10003;
    background: #000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 -4px 0 #000;
}

.ad-footer .adsbygoogle {
    min-width: 300px;
    max-width: 100%;
    width: auto;
    height: 50px;
    margin: 0 auto;
}

/* @media(max-width:800px) {
    .ad-footer {
        display: block;
    }
} */