@media screen and (max-width: 773px) {
    #container {
        .article-list {
            .grid-view {
                li {
                    width:28%!important;
                }
            }
        }
    }
}
@media screen and (max-width: 597px) {
    #container {
        .article-list {
            .grid-view {
                li {
                    width:40%!important;
                }
            }
            .list-view {
                li {
                    span {
                        display:none!important;
                    }
                    h3 {
                        width:100%!important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 422px) {
    #container {
        .article-list {
            ul {
                margin:0 0 0 0!important;
            }
            .grid-view {
                li {
                    width:25%!important;
                    margin-right:15px!important;
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    #container {
        .article-list {
            .grid-view {
                li {
                    width:100%!important;
                }
            }
        }
    }
}
@mixin transition-time($timer) {
    -webkit-transition:$timer;
    -moz-transition:$timer;
    transition:$timer;
}
@mixin div-radius($radius) {
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    border-radius:$radius;
}
#container {
    h2 {
        font-family:'Open Sans', 'Microsoft JhengHei';
        color:#000;
        font-size:24px;
        font-weight: 300;
        margin:0 0 20px;
        i {
            width:13px;
            height:13px;
            cursor:pointer;
            opacity:.2;
            display:inline-block;
            @include transition-time(.3s);
            margin:2px 4px;
        }
        i:hover {
            opacity:.7;
        }
        .grid-view {
            background-position:-7px -124px;
            margin-left:12px;
        }
        .list-view {
            background-position:-7px -94px;
        }
        .active {
            opacity:.7;
        }
    }
    .article-list {
        display:block;
        width:100%;
        ul {
            width:100%;
            display:table;
            margin:0 0 0 10px;
        }
        .grid-view {
            a {
                color:#555;
            }
            a:hover {
                color:#000;
            }
            li:hover {
                box-shadow:0 0 10px #000;
                img {
                    opacity:.7;
                }
            }
            li {
                cursor: pointer;
                float:left;
                width:16%;
                min-width:142px;
                margin:0 20px 20px 0;
                overflow: hidden;
                display:block;
                border:1px solid #e1e1e1;
                .img-div {
                    width:100%;
                    overflow: hidden;
                    padding:0;
                    position:relative;
                    img {
                        position:absolute;
                        top:0;
                        left:0;
                        width:100%;
                        @include transition-time(.3s);
                    }
                }
                h3 {
                    font-size:13px;
                    margin:10px 5px 0;
                    height:20px;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                    overflow: hidden;
                    i {
                        display:none;
                    }
                }
                i {
                    display:block;
                    font-size:12px;
                    margin:5px 5px -5px;
                }
                .new-front-end {
                    color:#f90;
                }
                .new-css {
                    color:#09c;
                }
                .new-design {
                    color:#a00;
                }
                .new-ui {
                    color:#0a0;
                }
                span {
                    font-family: arial;
                    display:block;
                    margin:0 5px 10px;
                    font-size:12px;
                    color:#999;
                }
            }
        }
        .list-view {
            li {
                cursor: pointer;
                width:100%;
                margin:0 0 10px 0;
                height:24px;
                a {
                    color:#000;
                    @include transition-time(.3s);
                    h3 {
                        float:left;
                        display: block;
                        white-space:nowrap;
                        text-overflow:ellipsis;
                        overflow: hidden;
                        width:80%;
                        height:24px;
                        padding-left:20px;
                        margin-right:-20px;
                        background:url(../../img/layout/icon-sprite.png) no-repeat -282px 0px;
                        i {
                            display:inline-block;
                            font-size:12px;
                            margin-left:15px;
                        }
                        .new-front-end {
                            color:#f90;
                        }
                        .new-css {
                            color:#09c;
                        }
                        .new-design {
                            color:#a00;
                        }
                        .new-ui {
                            color:#0a0;
                        }
                    }
                    span {
                        display: block;
                        float:right;
                        width:80px;
                        margin-right:10px;
                    }
                    .img-div {
                        display:none;
                    }
                }
                a:visited {
                    color:#999;
                    h3 {
                        background:url(../../img/layout/icon-sprite.png) no-repeat -282px -23px;
                    }
                }
                a:hover {
                    color:#17884f;
                    h3 {
                        background:url(../../img/layout/icon-sprite.png) no-repeat -282px -23px;
                    }
                }
                i {
                    display:none;
                }
            }
        }
    }
    .read-more {
        display:none;
        width:100%;
        height:30px;
        background: #eee;
        text-align: center;
        line-height: 26px;
        font-size:13px;
        margin:10px auto 0;
        cursor:pointer;
        @include transition-time(.3s);
    }
    .read-more:hover {
        background: #ddd;
    }
}
