@media screen and (max-width: 750px) {
    #container {
        .about {
            .index-img {
                float:none!important;
                margin:0!important;
            }
        }
    }
}
@media screen and (max-width: 660px) {
    #container {
        .new-articles {
            .list {
                li {
                    width:44%!important;
                	margin:10px!important;
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    #container {
        .about {
            .index-img {
                width:100%!important;
                height:auto!important;
            }
        }
        .new-articles {
            .list {
                li {
                	margin:7px!important;
                }
            }
        }
    }
}
@media screen and (max-width: 380px) {
    #container {
        .new-articles {
            .list {
                li {
                	width:90%!important;
                	min-width:90%!important;
                	margin-bottom:25px!important;
                }
            }
        }
    }
}
#container {
    h2 {
        font-family:'Open Sans', 'Microsoft JhengHei';
        color:#000;
        font-size:24px;
        font-weight: 300;
        margin:0 0 20px;
    }
    h4 {
        font-size:15px;
        color:#555;
        line-height: 26px;
    }
    .about {
        display:table;
        .index-img {
            width:320px;
            height:320px;
            float:right;
            margin:10px 0 0 30px;
            img {
                width:100%;
            }
        }
    }
    .new-articles {
        .list {
            ul {
                margin:-15px;
            }
            li {
                float:left;
                width:28%;
                min-width:142px;
                margin:15px;
                img {
                    width:100%;
                }
                h3 {
                    font-size:15px;
                    color:#000;
                    margin:10px 0;
                }
                span {
                    font-size:13px;
                    color:#666;
                }
            }
        }
    }
}
