@media screen and (max-width: 750px) {
    #container {
        .about {
            .index-img {
                float:none!important;
                margin:0!important;
            }
        }
    }
}
@media screen and (max-width: 660px) {
    #container {
        .new-articles {
            ul {
                margin:0 0 0 0!important;
            }
            .list {
                li {
                    width:43%!important;
                    margin:5px 15px 25px 0!important;
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    #container {
        .about {
            .index-img {
                display:none!important;
            }
        }
        .new-articles {
            .list {
                li {
                    margin:0 0 20px!important;
                    min-width:100%!important;
                }
            }
        }
    }
}
@mixin transition-time($timer) {
    -webkit-transition:$timer;
    -moz-transition:$timer;
    transition:$timer;
}
@mixin div-radius($radius) {
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    border-radius:$radius;
}
#container {
    h2 {
        font-family:'Open Sans', 'Microsoft JhengHei';
        color:#000;
        font-size:24px;
        font-weight: 300;
        margin:0 0 20px;
    }
    h4 {
        font-size:15px;
        color:#555;
        line-height: 26px;
        strong {
            font-weight: 900;
            color:#333;
        }
    }
    .about {
        display:table;
        .index-img {
            width:320px;
            height:320px;
            float:right;
            margin:10px 0 0 30px;
            img {
                width:90%;
                @include div-radius(100%);
                @include transition-time(.3s);
            }
            img:hover {
                margin-top:-10px;
                box-shadow:0 5px 10px #000;
            }
        }
    }
    .new-articles {
        .list {
            ul {
                margin:0 0 0 10px;
                width:100%;
            }
            li:hover {
                .img-div {
                    div {
                        opacity: 1;
                        top:0;
                    }
                    img {
                        width:105%;
                        opacity:.8;
                    }
                }
                span {
                    background:#eee;
                }
                h3 {
                    color:#000;
                }
            }
            li {
                cursor: pointer;
                float:left;
                width:28%;
                min-width:142px;
                margin:0 25px 20px 0;
                overflow: hidden;
                box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
                .img-div {
                    width:100%;
                    overflow: hidden;
                    padding:0;
                    position:relative;
                    border-bottom:1px solid #ddd;
                    img {
                        position:absolute;
                        top:0;
                        left:0;
                        width:100%;
                        @include transition-time(.3s);
                    }
                    div {
                        color:#fff;
                        font-size:13px;
                        padding:10px;
                        width:100%;
                        max-height:120px;
                        background:rgba(0, 0, 0, .8);
                        position:absolute;
                        top:-10px;
                        left:0;
                        opacity:0;
                        @include transition-time(.5s);
                        z-index:20;
                        overflow: hidden;
                        line-height: 20px;
                        display:table;
                    }
                }
                h3 {
                    width:100%;
                    font-size:15px;
                    color:#555;
                    margin:12px 10px 15px;
                    height:16px;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                    overflow: hidden;
                }
                span {
                    font-family: arial;
                    background:#f4f4f4;
                    padding:8px 10px 0px;
                    border-top:1px solid #e1e1e1;
                    display:block;
                    height:20px;
                    font-size:12px;
                    color:#777;
                    h5 {
                        display:block;
                        float:right;
                        font-size:12px;
                    }
                    .new-front-end {
                        color:#f90;
                    }
                    .new-css {
                        color:#09c;
                    }
                    .new-design {
                        color:#a00;
                    }
                    .new-ui {
                        color:#0a0;
                    }
                }
            }
        }
    }
}
