#container {
  padding-bottom: 30px;
}
#container .content {
  display: table;
}
#container .content .md {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  padding: 0 10px;
  max-width: 960px;
  margin: 0 auto;
            /* BLOCKS
=============================================================================*/
            /* HEADERS
=============================================================================*/
            /* LINKS
=============================================================================*/
            /* LISTS
=============================================================================*/
            /* CODE
=============================================================================*/
            /* QUOTES
=============================================================================*/
            /* HORIZONTAL RULES
=============================================================================*/
            /* TABLES
=============================================================================*/
            /* IMAGES
=============================================================================*/
}
#container .content .md p, #container .content .md blockquote, #container .content .md ul, #container .content .md ol, #container .content .md dl, #container .content .md table, #container .content .md pre {
  margin: 15px 0;
}
#container .content .md h1, #container .content .md h2, #container .content .md h3, #container .content .md h4, #container .content .md h5, #container .content .md h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
#container .content .md h1 tt, #container .content .md h1 code, #container .content .md h2 tt, #container .content .md h2 code, #container .content .md h3 tt, #container .content .md h3 code, #container .content .md h4 tt, #container .content .md h4 code, #container .content .md h5 tt, #container .content .md h5 code, #container .content .md h6 tt, #container .content .md h6 code {
  font-size: inherit;
}
#container .content .md h1 {
  font-size: 28px;
  color: #000;
}
#container .content .md h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: #000;
}
#container .content .md h3 {
  font-size: 18px;
}
#container .content .md h4 {
  font-size: 16px;
}
#container .content .md h5 {
  font-size: 14px;
}
#container .content .md h6 {
  color: #777;
  font-size: 14px;
}
#container .content .md body > h2:first-child, #container .content .md body > h1:first-child, #container .content .md body > h1:first-child + h2, #container .content .md body > h3:first-child, #container .content .md body > h4:first-child, #container .content .md body > h5:first-child, #container .content .md body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
#container .content .md a:first-child h1, #container .content .md a:first-child h2, #container .content .md a:first-child h3, #container .content .md a:first-child h4, #container .content .md a:first-child h5, #container .content .md a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
#container .content .md h1 + p, #container .content .md h2 + p, #container .content .md h3 + p, #container .content .md h4 + p, #container .content .md h5 + p, #container .content .md h6 + p {
  margin-top: 10px;
}
#container .content .md strong {
  font-weight: 900;
}
#container .content .md a {
  color: #4183C4;
  text-decoration: none;
}
#container .content .md a:hover {
  text-decoration: underline;
}
#container .content .md ul, #container .content .md ol {
  padding-left: 30px;
}
#container .content .md li {
  list-style: disc;
}
#container .content .md ul li > :first-child, #container .content .md ol li > :first-child, #container .content .md ul li ul:first-of-type, #container .content .md ol li ol:first-of-type, #container .content .md ul li ol:first-of-type, #container .content .md ol li ul:first-of-type {
  margin-top: 0px;
}
#container .content .md ul ul, #container .content .md ul ol, #container .content .md ol ol, #container .content .md ol ul {
  margin-bottom: 0;
}
#container .content .md dl {
  padding: 0;
}
#container .content .md dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
#container .content .md dl dt:first-child {
  padding: 0;
}
#container .content .md dl dt > :first-child {
  margin-top: 0px;
}
#container .content .md dl dt > :last-child {
  margin-bottom: 0px;
}
#container .content .md dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
#container .content .md dl dd > :first-child {
  margin-top: 0px;
}
#container .content .md dl dd > :last-child {
  margin-bottom: 0px;
}
#container .content .md pre, #container .content .md code, #container .content .md tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
#container .content .md code, #container .content .md tt {
  margin: 0 0px;
  padding: 0px 0px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}
#container .content .md pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
#container .content .md pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
#container .content .md pre code, #container .content .md pre tt {
  background-color: transparent;
  border: none;
}
#container .content .md kbd {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #DDDDDD;
  background-image: linear-gradient(#f1f1f1, #dddddd);
  background-repeat: repeat-x;
  border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
  border-image: none;
  border-radius: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 10px;
  padding: 1px 4px;
}
#container .content .md blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}
#container .content .md blockquote > :first-child {
  margin-top: 0px;
}
#container .content .md blockquote > :last-child {
  margin-bottom: 0px;
}
#container .content .md hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 4px solid #ddd;
  padding: 0;
}
#container .content .md table th {
  font-weight: bold;
}
#container .content .md table th, #container .content .md table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}
#container .content .md table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}
#container .content .md table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
#container .content .md img {
  max-width: 100%;
}
#container .content .md > *:first-child {
  margin-top: 0 !important;
}
#container .content .md > *:last-child {
  margin-bottom: 0 !important;
}
