@media screen and (max-width: 773px) {
  #container .article-list li {
    width: 28% !important;
  }
}
@media screen and (max-width: 597px) {
  #container .article-list li {
    width: 40% !important;
  }
}
@media screen and (max-width: 422px) {
  #container .article-list li {
    width: 25% !important;
    margin-right: 15px !important;
  }
}
@media screen and (max-width: 400px) {
  #container .article-list li {
    width: 100% !important;
  }
}
#container h2 {
  font-family: 'Open Sans', 'Microsoft JhengHei';
  color: #000;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 20px;
}
#container .article-list ul {
  width: 100%;
}
#container .article-list li {
  cursor: pointer;
  float: left;
  width: 16%;
  min-width: 142px;
  margin: 0 25px 20px 0;
  overflow: hidden;
}
#container .article-list li .img-div {
  width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
#container .article-list li .img-div div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#container .article-list li .img-div img {
  width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
#container .article-list li .img-div .imghover {
  width: 110%;
}
#container .article-list li h3 {
  font-size: 15px;
  color: #000;
  margin: 10px 0;
}
#container .article-list li span {
  display: block;
  height: 20px;
  font-size: 13px;
  color: #666;
}
