@media screen and (max-width: 750px) {
  #container .about .index-img {
    float: none !important;
    margin: 0 !important;
  }
}
@media screen and (max-width: 660px) {
  #container .new-articles .list li {
    width: 44% !important;
    margin: 10px !important;
  }
}
@media screen and (max-width: 400px) {
  #container .about .index-img {
    display: none !important;
  }
  #container .new-articles .list li {
    margin: 7px !important;
  }
}
@media screen and (max-width: 380px) {
  #container .new-articles .list li {
    width: 90% !important;
    min-width: 90% !important;
    margin-bottom: 25px !important;
  }
}
#container h2 {
  font-family: 'Open Sans', 'Microsoft JhengHei';
  color: #000;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 20px;
}
#container h4 {
  font-size: 15px;
  color: #555;
  line-height: 26px;
}
#container .about {
  display: table;
}
#container .about .index-img {
  width: 320px;
  height: 320px;
  float: right;
  margin: 10px 0 0 30px;
}
#container .about .index-img img {
  width: 100%;
}
#container .new-articles .list ul {
  margin: -15px;
}
#container .new-articles .list li {
  cursor: pointer;
  float: left;
  width: 28%;
  min-width: 142px;
  margin: 15px;
  overflow: hidden;
}
#container .new-articles .list li div {
  width: 100%;
  overflow: hidden;
  padding: 0;
}
#container .new-articles .list li div .imghover {
  width: 115%;
  margin-top: -27px;
  margin-left: -20px;
  margin-bottom: -6px;
}
#container .new-articles .list li div img {
  width: 100%;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}
#container .new-articles .list li h3 {
  font-size: 15px;
  color: #000;
  margin: 10px 0;
}
#container .new-articles .list li span {
  font-size: 13px;
  color: #666;
}
