@media screen and (max-width: 1000px) {
  #content-grid {
    width: 95% !important;
  }
  #content-grid ul li {
    width: 100% !important;
    height: 250px !important;
    margin: 0 auto 20px !important;
  }
  #content-grid ul li h2 {
    margin: 30px 20px 0 280px !important;
  }
  #content-grid ul li h3 {
    margin: 10px 20px 0 0 !important;
  }
  #content-grid ul li h3:nth-child(even) {
    display: none;
  }
  #content-grid ul li .content-img {
    float: left;
    margin: -25px 20px 0 60px !important;
    width: 200px !important;
    height: auto !important;
  }
  #content-grid ul li .content-grid-line {
    display: none;
  }
  #content-grid ul li h4 {
    float: right;
    margin: -70px 0 0 !important;
    padding-left: 280px;
    padding-right: 30px;
  }
  #content-grid ul li .read-more {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  #content-grid {
    width: 90% !important;
  }
  #content-grid ul {
    width: 100% !important;
    margin: 0 auto !important;
  }
  #content-grid ul li {
    width: 100% !important;
    display: table !important;
    margin: 0 auto 18px !important;
  }
  #content-grid ul li h2 {
    margin: 40px 0 0 62px !important;
  }
  #content-grid ul li h3 {
    margin: 20px 0 0 62px !important;
  }
  #content-grid ul li h3:nth-child(even) {
    display: none !important;
  }
  #content-grid ul li .content-img {
    float: none !important;
    margin: 20px auto 0 !important;
    width: 80% !important;
    min-width: 0 !important;
    height: auto !important;
  }
  #content-grid ul li .content-grid-line {
    width: 80% !important;
    display: block !important;
  }
  #content-grid ul li h4 {
    float: none !important;
    margin: 20px 62px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #content-grid ul li .read-more {
    display: block !important;
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 550px) {
  #content-grid ul li h2 {
    margin: 40px 0 0 30px !important;
  }
  #content-grid ul li h3 {
    display: none !important;
  }
  #content-grid ul li h4 {
    margin: 5px 22px 10px !important;
  }
  #content-grid ul li .content-grid-line {
    margin: 15px 22px 5px !important;
  }
  #content-grid ul li .read-more {
    margin: 5px 22px 20px !important;
  }
  #content-grid ul li > i {
    display: none !important;
  }
}
#content-grid {
  width: 1000px;
  margin: 20px auto 40px;
}
#content-grid ul {
  width: 100%;
  display: table;
}
#content-grid ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 465px;
  height: 630px;
  float: left;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 10px 18px 25px;
  position: relative;
}
#content-grid ul li h2 {
  font-size: 24px;
  margin: 40px 62px 0;
}
#content-grid ul li h3 {
  display: inline-block;
  margin: 20px 0 0 62px;
  font-size: 14px;
  color: #777;
}
#content-grid ul li h3 > i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 3px -3px 0;
  background-image: url(/img/layout/sprites.png);
  background-repeat: no-repeat;
}
#content-grid ul li h3 .icon-date {
  background-position: -69px -61px;
}
#content-grid ul li h3 .icon-author {
  background-position: -73px -91px;
}
#content-grid ul li h3:nth-child(even) {
  float: right;
  margin: 20px 62px 0 0;
}
#content-grid ul li .content-img {
  width: 100%;
  max-width: 340px;
  height: 231px;
  margin: 20px auto 0;
  position: relative;
  overflow: hidden;
}
#content-grid ul li .content-img span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.75);
}
#content-grid ul li .content-img img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#content-grid ul li .content-grid-line {
  width: 100%;
  max-width: 340px;
  height: 1px;
  margin: 25px auto 0;
  background: url(/img/layout/content_line.gif);
}
#content-grid ul li h4 {
  display: inline-block;
  margin: 20px 62px;
  line-height: 24px;
  font-size: 15px;
  height: 125px;
  overflow: hidden;
}
#content-grid ul li > i {
  display: inline-block;
  width: 56px;
  height: 44px;
  position: absolute;
  top: 25px;
  left: -10px;
  background-image: url(/img/layout/sprites.png);
}
#content-grid ul li .tag-ui {
  background-position: 0 0;
}
#content-grid ul li .tag-others {
  background-position: 0 -44px;
}
#content-grid ul li .tag-design {
  background-position: 0 -88px;
}
#content-grid ul li .tag-photo {
  background-position: 0 -132px;
}
#content-grid ul li .tag-web {
  background-position: 0 -176px;
}
#content-grid ul li .tag-ill {
  background-position: 0 -220px;
}
#content-grid ul li .tag-css {
  background-position: 0 -264px;
}
#content-grid ul li .read-more {
  position: relative;
  width: 120px;
  height: 40px;
  background: url(/img/layout/sprites.png) 0 -460px;
  margin: 0 62px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 900;
  line-height: 36px;
  text-shadow: 1px 1px 5px rgba(100, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
#content-grid ul li .read-more::after {
  content: '';
  height: 40px;
  width: 20px;
  background: url(/img/layout/sprites.png) right -460px;
  position: absolute;
  right: 0;
  top: 0;
}
#content-grid ul li .read-more:hover {
  opacity: .9;
}
#content-grid ul li:nth-child(even) {
  margin: 0 20px 18px 10px;
}

#page-num {
  width: 100%;
  text-align: center;
  margin: 0 0 20px;
}
#page-num div {
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #ccc;
  font-size: 12px;
  text-align: center;
  line-height: 19px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
#page-num div:hover {
  background: #999;
  color: #fff;
}
