/* css reset */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 1000px) {
  #sideMenu {
    z-index: 99;
    background: #0a0a0a !important;
    width: 100% !important;
    min-height: 50px !important;
    max-height: 50px !important;
    height: 50px !important;
    box-shadow: 0 0 10px #000;
    top: 0;
    left: 0;
    overflow-y: visible !important;
    overflow-x: visible !important;
  }
  #sideMenu #profile {
    padding: 15px 25px 0 !important;
    width: 100% !important;
  }
  #sideMenu #profile h1 {
    margin: 0 auto !important;
    text-align: center;
    font-size: 18px !important;
  }
  #sideMenu #profile div {
    display: none;
  }
  #sideMenu .line, #sideMenu .license {
    display: none !important;
  }
  #sideMenu .menuList {
    width: 100% !important;
    height: 0px !important;
    display: block;
    padding: 0 !important;
    background: rgba(0, 0, 0, 0.9) !important;
  }
  #sideMenu .menuList ul {
    width: 100%;
    margin-top: 15px;
    display: none;
    border-top: 1px solid #333;
    box-shadow: 0 2px 10px #000;
  }
  #sideMenu .menuList li {
    width: 100%;
    text-align: center;
  }
  #sideMenu .menuList li:first-child {
    margin-top: 25px !important;
  }
  #sideMenu .menuList div {
    margin: 12px 10px 0 0;
    padding: 0 0 20px 20px;
    display: block !important;
  }

  #container {
    margin-top: 5px !important;
  }
  #container .container-title {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  #wrapper {
    width: 100% !important;
  }
}
body, html {
  font-family: 'Open Sans', 'PMingLiU', sans-serif;
  height: 100%;
}

body {
  background: url(/img/layout/bg.png);
  -webkit-font-smoothing: antialiased !important;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#wrapper {
  display: table;
  margin: 0 auto;
  max-width: 1150px;
  width: 95%;
  -webkit-box-shadow: 0 0 20px black;
  -moz-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}

.icon-sprite {
  background-image: url(/img/layout/icon-sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}

#sideMenu {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  color: #fff;
  background: rgba(10, 10, 10, 0.7);
  width: 225px;
  float: left;
}
#sideMenu #profile, #sideMenu .line, #sideMenu .license, #sideMenu .menuList {
  display: table;
  width: 100%;
}
#sideMenu #profile {
  padding: 20px 25px 25px;
}
#sideMenu #profile h1 {
  display: block;
  font-family: verdana;
  font-size: 15px;
  margin: 0 0 10px;
}
#sideMenu #profile .img {
  float: left;
  margin: 0 10px 0 0;
}
#sideMenu #profile .img img {
  border: 3px solid #77c69e;
}
#sideMenu #profile .menu {
  font-size: 12px;
  color: #77c69e;
  float: left;
}
#sideMenu #profile .menu li {
  margin: 5px 0;
}
#sideMenu #profile .menu li a {
  color: #77c69e;
}
#sideMenu #profile .menu li a:hover {
  text-decoration: underline;
}
#sideMenu #profile .icon-menu {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 0px;
}
#sideMenu #profile .icon-menu-aboutme {
  background-position: -3px -2px;
}
#sideMenu #profile .icon-menu-picasa {
  background-position: -3px -32px;
}
#sideMenu #profile .icon-menu-contact {
  background-position: -4px -61px;
}
#sideMenu .line {
  height: 3px;
  background: #77c69f;
}
#sideMenu .menuList {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 25px;
}
#sideMenu .menuList ul {
  display: table;
}
#sideMenu .menuList .menuopen {
  opacity: 1;
}
#sideMenu .menuList li {
  margin: 25px 0;
}
#sideMenu .menuList li:first-child {
  margin-top: 5px;
}
#sideMenu .menuList a {
  color: #fff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
#sideMenu .menuList a:hover {
  color: #77c69f;
}
#sideMenu .menuList a.active {
  color: #77c69f;
}
#sideMenu .menuList div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#sideMenu .menuList div span {
  display: block;
  width: 20px;
  height: 3px;
  background: #aaa;
  margin: 4px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
#sideMenu .menuList div .span-hover {
  background: #fff;
}
#sideMenu .menuList div:hover span {
  background: #fff;
}
#sideMenu .license {
  width: 100%;
}
#sideMenu .license span {
  display: block;
  float: left;
  width: 36px;
  height: 5px;
  margin-right: 1px;
}
#sideMenu .license span:nth-child(1) {
  width: 37px;
  margin-left: 1px;
  background: #fda128;
}
#sideMenu .license span:nth-child(2) {
  background: #fa4d2f;
}
#sideMenu .license span:nth-child(3) {
  background: #0da2c8;
}
#sideMenu .license span:nth-child(4) {
  background: #73c147;
}
#sideMenu .license span:nth-child(5) {
  background: #6c726c;
}
#sideMenu .license span:nth-child(6) {
  width: 37px;
  background: #a82a85;
}
#sideMenu .license span:nth-child(6)::after {
  content: "";
  display: block;
  clear: both;
}
#sideMenu .license div {
  width: 100%;
  text-align: center;
}
#sideMenu .license div:nth-child(7) {
  background: #212624;
  height: 35px;
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}
#sideMenu .license div:last-child {
  margin: 5px auto 30px;
  width: 85%;
  font-size: 12px;
  color: #555;
  line-height: 14px;
}
#sideMenu .license a {
  color: #666;
  text-decoration: underline;
}
#sideMenu .license a:hover {
  color: #777;
}

#container {
  min-height: 100%;
  display: table;
  background: #fff;
  float: right;
  padding: 25px 25px 25px;
}
#container .container-title {
  margin: 30px 0 0;
  font-weight: blod;
}
#container .container-title h1 {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 31.5px;
  color: #555;
  font-weight: 900;
}
#container .container-title h1 span {
  font-size: 50%;
  color: #888;
  font-weight: normal;
}
#container .container-title h1 .icon-title {
  width: 24px;
  height: 24px;
  background-position: -28px -6px;
  margin-right: 5px;
}
#container .container-title .icon-facebook {
  background-position: -29px -40px;
}
#container .container-title .icon-googleplus {
  background-position: -29px -74px;
}
#container .container-title .icon-twitter {
  background-position: -29px -107px;
}
#container .container-title .icon-social {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-top: 7px;
  margin-right: 5px;
  float: right;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: .5;
}
#container .container-title .icon-social:hover {
  margin-top: 4px;
  opacity: 1;
}
#container .line {
  height: 5px;
  background: #ededed;
  margin: 15px 0 20px;
}
