@media screen and (max-width: 850px) {
  #container .content {
    width: 90% !important;
  }
}
@media screen and (max-width: 600px) {
  .content h3 {
    display: none !important;
  }
}
#container .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 850px;
  margin: 20px auto 20px;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}
#container .content h1 {
  margin: 40px 40px 0;
  font-size: 28px;
  font-weight: bold;
}
#container .content ul {
  display: table;
  margin: 20px 20px 40px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
#container .content ul li {
  margin: 10px 20px 10px 20px;
  font-size: 14px;
}
#container .content ul li a {
  color: #666;
}
#container .content ul li a:hover {
  color: #000;
}
#container .content ul li h3 {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}
#container .content ul li h2 {
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
}
#container .content ul li > i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #555;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
#container .content ul .tag-creative h3 {
  color: #eb6f70;
}
#container .content ul .tag-creative > i {
  background: #eb6f70;
}
#container .content ul .tag-ui h3 {
  color: #74bc48;
}
#container .content ul .tag-ui > i {
  background: #74bc48;
}
#container .content ul .tag-share h3 {
  color: #40a880;
}
#container .content ul .tag-share > i {
  background: #40a880;
}
#container .content ul .tag-photo h3 {
  color: #eb9e79;
}
#container .content ul .tag-photo > i {
  background: #eb9e79;
}
#container .content ul .tag-css h3 {
  color: #955694;
}
#container .content ul .tag-css > i {
  background: #955694;
}
#container .content ul .tag-web h3 {
  color: #309ac1;
}
#container .content ul .tag-web > i {
  background: #309ac1;
}
#container .content ul .tag-others h3 {
  color: #ff8400;
}
#container .content ul .tag-others > i {
  background: #ff8400;
}

.tool-icon {
  position: fixed;
  top: 75px;
  display: none;
  opacity: .6;
}
.tool-icon > i {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(/img/layout/sprites.png);
  background-repeat: no-repeat;
  margin: 5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.tool-icon > i > i {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(/img/layout/sprites.png);
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0;
}
.tool-icon > i span {
  position: absolute;
  width: 0px;
  top: 5px;
  left: 27px;
  font-size: 12px;
  color: #333;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}
.tool-icon > i > i:hover {
  opacity: 1;
}
.tool-icon > i > i:hover + span {
  opacity: 1;
  width: 120px;
}
.tool-icon .icon-home {
  background-position: -128px 0;
}
.tool-icon .icon-home > i {
  background-position: -99px 0;
}
.tool-icon .goto-top {
  background-position: -128px -115px;
}
.tool-icon .goto-top > i {
  background-position: -99px -115px;
}
