/* css reset */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 1000px) {
  #top-menu {
    display: none !important;
  }

  #banner {
    width: 200px !important;
    margin: 10px auto 0 !important;
  }
  #banner h2 {
    display: none !important;
  }
  #banner a > i {
    display: none !important;
  }

  #main-menu {
    background: none !important;
  }
  #main-menu .mobile-menu {
    display: table !important;
  }
  #main-menu ul {
    width: 100%;
    margin: 10px auto 0 !important;
    position: fixed;
    background: white !important;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  }
  #main-menu li {
    float: none !important;
    margin: 15px auto !important;
    font-size: 18px !important;
  }
  #main-menu li > i {
    display: none !important;
  }

  #container {
    margin-top: 80px !important;
  }
}
@media screen and (max-width: 550px) {
  #banner {
    width: 150px !important;
  }

  .license {
    margin-top: 20px;
    line-height: 25px !important;
  }

  #container {
    margin-top: 70px !important;
  }
}
body, html {
  font-family: 'Open Sans', 'PMingLiU', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased !important;
  background: url(/img/layout/body_bg.jpg);
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}

#author {
  position: fixed;
  top: -100px;
}

#header {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}

#top-menu {
  display: table;
  width: 100%;
}
#top-menu .top-menu-left {
  float: left;
  margin: 10px 10px;
}
#top-menu .top-menu-left li {
  float: left;
  font-size: 12px;
  margin: 0 10px 0 20px;
  color: #000;
  opacity: .7;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#top-menu .top-menu-left li > i {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: -2px;
  background-image: url(/img/layout/sprites.png);
}
#top-menu .top-menu-left li a {
  color: #000;
}
#top-menu .top-menu-left .home i {
  background-position: -70px 0;
}
#top-menu .top-menu-left .about i {
  background-position: -70px -18px;
}
#top-menu .top-menu-left .contact i {
  background-position: -70px -34px;
}
#top-menu .top-menu-left li:hover {
  opacity: 1;
}
#top-menu .search {
  margin: 10px 5px 10px 0;
  float: right;
  background: url(/img/layout/sprites.png) no-repeat -157px 0;
  width: 175px;
  height: 23px;
  color: #aaa;
  font-size: 12px;
  padding: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#top-menu .search:hover {
  opacity: .5;
}
#top-menu .all-list {
  float: right;
  margin: 10px 30px 20px 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  width: 23px;
  height: 23px;
  background: #e9e9e9;
}
#top-menu .all-list > i {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 6px;
  background: url(/img/layout/sprites.png) no-repeat -71px -117px;
  opacity: .8;
}
#top-menu .all-list:hover {
  opacity: .5;
}
#top-menu .link {
  margin: 10px 20px 10px 0;
  float: right;
}

#banner {
  margin: 0 auto 0;
  width: 300px;
}
#banner img {
  width: 100%;
}
#banner a {
  color: #666;
}
#banner a .bubble {
  display: block;
  position: absolute;
  left: 127px;
  z-index: 2;
  width: 17px;
  height: 50px;
  background-image: url(/img/layout/sprites.png);
  background-repeat: no-repeat;
  background-position: -4px -390px;
}
#banner a .hihi {
  background: url(/img/layout/sprites.png) no-repeat -73px -180px;
  width: 28px;
  height: 33px;
  display: block;
  position: absolute;
  z-index: 2;
  right: -13px;
  top: -8px;
  -webkit-transform-origin: 0 33px;
  -moz-transform-origin: 0 33px;
  transform-origin: 0 33px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
#banner h1 {
  position: fixed;
  top: -100px;
}
#banner h2 {
  font-family: verdana;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 5px;
  color: #666;
}

#banner:hover .hihi {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}

#main-menu {
  width: 100%;
  padding-bottom: 10px;
  background: url(/img/layout/menu-bg.png) 0 4px repeat-x;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}
#main-menu .mobile-menu {
  display: none;
  position: absolute;
  top: -25px;
  right: 10px;
  cursor: pointer;
}
#main-menu .mobile-menu span {
  display: block;
  width: 20px;
  height: 3px;
  background: #999;
  margin: 4px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
#main-menu .mobile-menu:hover span {
  background: #000;
}
#main-menu ul {
  display: table;
  margin: 40px auto 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
#main-menu ul li {
  float: left;
  text-align: center;
  margin: 0 30px;
  font-size: 14px;
  cursor: pointer;
}
#main-menu ul li > i {
  display: block;
  margin: 0 auto 10px;
  width: 10px;
  height: 10px;
  background: #555;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
#main-menu ul li:hover > i {
  margin-top: -6px;
  margin-bottom: 8px;
  width: 18px;
  height: 18px;
}
#main-menu ul .tag-creative {
  color: #eb6f70;
}
#main-menu ul .tag-creative > i {
  background: #eb6f70;
}
#main-menu ul .tag-ui {
  color: #74bc48;
}
#main-menu ul .tag-ui > i {
  background: #74bc48;
}
#main-menu ul .tag-share {
  color: #40a880;
}
#main-menu ul .tag-share > i {
  background: #40a880;
}
#main-menu ul .tag-photo {
  color: #eb9e79;
}
#main-menu ul .tag-photo > i {
  background: #eb9e79;
}
#main-menu ul .tag-css {
  color: #955694;
}
#main-menu ul .tag-css > i {
  background: #955694;
}
#main-menu ul .tag-web {
  color: #309ac1;
}
#main-menu ul .tag-web > i {
  background: #309ac1;
}
#main-menu ul .tag-others {
  color: #ff8400;
}
#main-menu ul .tag-others > i {
  background: #ff8400;
}
#main-menu .mobile-menulist li {
  float: none;
}
#main-menu .mobile-menulist li > i {
  display: none;
}

.body-line {
  height: 2px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e9e9e9;
}

#container {
  width: 100%;
  margin-top: 250px;
}

#footer {
  width: 100%;
  display: table;
}
#footer .footer-line {
  height: 1px;
  width: 100%;
  background: url(/img/layout/content_line.gif);
}
#footer .license {
  height: 80px;
  width: 100%;
  font-size: 12px;
  line-height: 75px;
  color: #666;
  text-align: center;
}
#footer .license a {
  color: #666;
  text-decoration: underline;
}
#footer .license a:hover {
  color: #000;
}
@media screen and (max-width: 850px) {
  #container .content {
    width: 90% !important;
  }

  #other-articles {
    width: 90% !important;
  }
  #other-articles h3::after {
    width: 80% !important;
  }

  #disqus {
    width: 90% !important;
  }

  .md iframe {
    height: 400px !important;
  }
  .md .article-date {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .article-date {
    display: none !important;
  }

  #disqus {
    display: none !important;
  }

  .md {
    padding: 0 20px 50px !important;
  }

  #other-articles {
    padding: 20px !important;
  }
  #other-articles h3::after {
    left: 30px !important;
  }

  .content > i {
    display: none !important;
  }

  .md h2::after {
    display: none;
  }
  .md iframe {
    height: 260px !important;
  }
}
#container .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 850px;
  margin: 20px auto 20px;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}
#container .content > i {
  display: inline-block;
  width: 56px;
  height: 44px;
  position: absolute;
  top: 25px;
  left: -10px;
  background-image: url(/img/layout/sprites.png);
}
#container .content .tag-ui {
  background-position: 0 -88px;
}
#container .content .tag-others {
  background-position: 0 -44px;
}
#container .content .tag-creative {
  background-position: 0 0;
}
#container .content .tag-photo {
  background-position: 0 -132px;
}
#container .content .tag-web {
  background-position: 0 -176px;
}
#container .content .tag-share {
  background-position: 0 -220px;
}
#container .content .tag-css {
  background-position: 0 -264px;
}
#container .social-icon {
  position: fixed;
  top: 75px;
  display: none;
  opacity: .6;
}
#container .social-icon > i {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(/img/layout/sprites.png);
  background-repeat: no-repeat;
  margin: 5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
#container .social-icon > i > i {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(/img/layout/sprites.png);
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0;
}
#container .social-icon > i span {
  position: absolute;
  width: 0px;
  top: 5px;
  left: 27px;
  font-size: 12px;
  color: #333;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}
#container .social-icon > i > i:hover {
  opacity: 1;
}
#container .social-icon > i > i:hover + span {
  opacity: 1;
  width: 120px;
}
#container .social-icon .icon-home {
  background-position: -128px 0;
}
#container .social-icon .icon-home > i {
  background-position: -99px 0;
}
#container .social-icon .icon-facebook {
  background-position: -128px -28px;
}
#container .social-icon .icon-facebook > i {
  background-position: -99px -28px;
}
#container .social-icon .icon-google {
  background-position: -128px -57px;
}
#container .social-icon .icon-google > i {
  background-position: -99px -57px;
}
#container .social-icon .icon-twitter {
  background-position: -128px -86px;
}
#container .social-icon .icon-twitter > i {
  background-position: -99px -86px;
}
#container .social-icon .icon-list {
  background-position: -128px -145px;
}
#container .social-icon .icon-list > i {
  background-position: -99px -145px;
}
#container .social-icon .goto-top {
  background-position: -128px -115px;
}
#container .social-icon .goto-top > i {
  background-position: -99px -115px;
}

#other-articles {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 850px;
  margin: 0 auto 20px;
  padding: 20px 45px;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}
#other-articles a {
  color: #666;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
#other-articles a:hover {
  color: #000;
}
#other-articles h3 {
  margin: 10px 10px 20px;
}
#other-articles h3::after {
  content: '';
  position: absolute;
  top: 60px;
  left: 45px;
  width: 760px;
  height: 1px;
  background: url(/img/layout/content_line.gif);
}
#other-articles div {
  width: 130px;
  display: inline-block;
  margin: 10px;
}
#other-articles div img {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
#other-articles div h4 {
  width: 100%;
  height: 16px;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#other-articles div:hover img {
  margin: -2px 0 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#disqus {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 850px;
  margin: 0 auto 40px;
  padding: 20px 45px;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}

.md {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  padding: 20px 60px 50px;
  max-width: 850px;
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  /* BLOCKS
=============================================================================*/
  /* HEADERS
=============================================================================*/
  /* LINKS
=============================================================================*/
  /* LISTS
=============================================================================*/
  /* CODE
=============================================================================*/
  /* QUOTES
=============================================================================*/
  /* HORIZONTAL RULES
=============================================================================*/
  /* TABLES
=============================================================================*/
  /* IMAGES
=============================================================================*/
}
.md p, .md blockquote, .md ul, .md ol, .md dl, .md table, .md pre {
  margin: 15px 0;
}
.md p {
  max-width: 100%;
}
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  margin: 20px 0 10px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
.md h1 tt, .md h1 code, .md h2 tt, .md h2 code, .md h3 tt, .md h3 code, .md h4 tt, .md h4 code, .md h5 tt, .md h5 code, .md h6 tt, .md h6 code {
  font-size: inherit;
}
.md h1 {
  font-size: 28px;
  color: #000;
}
.md h2 {
  font-size: 28px;
  color: #000;
  display: inline-block;
  width: 100%;
  position: relative;
}
.md h2::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 1px;
  background: url(/img/layout/content_line.gif);
}
.md h3 {
  font-size: 18px;
  font-weight: 900;
}
.md h4 {
  font-size: 16px;
}
.md h5 {
  font-size: 14px;
}
.md h6 {
  color: #777;
  font-size: 14px;
}
.md body > h2:first-child, .md body > h1:first-child, .md body > h1:first-child + h2, .md body > h3:first-child, .md body > h4:first-child, .md body > h5:first-child, .md body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
.md a:first-child h1, .md a:first-child h2, .md a:first-child h3, .md a:first-child h4, .md a:first-child h5, .md a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
.md h1 + p, .md h2 + p, .md h3 + p, .md h4 + p, .md h5 + p, .md h6 + p {
  margin-top: 10px;
}
.md strong {
  font-weight: 900;
}
.md a {
  color: #4183C4;
  text-decoration: none;
}
.md a:hover {
  text-decoration: underline;
}
.md ul, .md ol {
  padding-left: 30px;
}
.md li {
  list-style: disc;
}
.md ul li > :first-child, .md ol li > :first-child, .md ul li ul:first-of-type, .md ol li ol:first-of-type, .md ul li ol:first-of-type, .md ol li ul:first-of-type {
  margin-top: 0px;
}
.md ul ul, .md ul ol, .md ol ol, .md ol ul {
  margin-bottom: 0;
}
.md dl {
  padding: 0;
}
.md dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
.md dl dt:first-child {
  padding: 0;
}
.md dl dt > :first-child {
  margin-top: 0px;
}
.md dl dt > :last-child {
  margin-bottom: 0px;
}
.md dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
.md dl dd > :first-child {
  margin-top: 0px;
}
.md dl dd > :last-child {
  margin-bottom: 0px;
}
.md pre, .md code, .md tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  word-break: break-all !important;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
.md code, .md tt {
  margin: 0 5px;
  padding: 2px 2px;
  white-space: nowrap;
  border: 1px solid #aaa;
  background-color: #ddd;
  border-radius: 3px;
}
.md pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
.md pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.md pre strong {
  background: #fc0;
}
.md pre code, .md pre tt {
  background-color: transparent;
  border: none;
}
.md kbd {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #DDDDDD;
  background-image: linear-gradient(#f1f1f1, #dddddd);
  background-repeat: repeat-x;
  border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
  border-image: none;
  border-radius: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 10px;
  padding: 1px 4px;
}
.md blockquote {
  word-wrap: break-word;
  word-break: normal;
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}
.md blockquote > :first-child {
  margin-top: 0px;
}
.md blockquote > :last-child {
  margin-bottom: 0px;
}
.md hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 4px solid #ddd;
  padding: 0;
}
.md table th {
  font-weight: bold;
}
.md table th, .md table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}
.md table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.md table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.md img {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto 20px;
}
.md svg {
  max-width: 100%;
}
.md .article-date {
  display: inline-block;
  font-size: 14px;
  color: #777;
  float: right;
  font-weight: normal;
  line-height: 54px;
}
.md .article-date > i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px -3px 0;
  background-image: url(/img/layout/sprites.png);
  background-repeat: no-repeat;
  background-position: -69px -61px;
}
.md iframe {
  width: 100%;
  height: 450px;
}
/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
.prettyprint {
  background: white;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}

.pln {
  color: #4d4d4c;
}

@media screen {
  .str {
    color: #718c00;
  }

  .kwd {
    color: #8959a8;
  }

  .com {
    color: #8e908c;
  }

  .typ {
    color: #4271ae;
  }

  .lit {
    color: #f5871f;
  }

  .pun {
    color: #4d4d4c;
  }

  .opn {
    color: #4d4d4c;
  }

  .clo {
    color: #4d4d4c;
  }

  .tag {
    color: #c82829;
  }

  .atn {
    color: #f5871f;
  }

  .atv {
    color: #3e999f;
  }

  .dec {
    color: #f5871f;
  }

  .var {
    color: #c82829;
  }

  .fun {
    color: #4271ae;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
