html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    width: 100%;
    background: #345;
    color: #fff;
    margin: 0;
    padding: 20px 0;
    font-size: 26px;
    z-index:9999;
}

@media (max-width:640px) {
    h1 {
        font-size: 22px;
    }
}


aside {
    width: 140px;
    height: auto;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    z-index: 1000;
    background: #fff;
    position: absolute;
    top: 90px;
    left: 15px;
    z-index: 10000;
}

aside.fixed {
    position: fixed;
    top: 15px;
}

aside h2 {
    margin: 0 0 5px;
}

aside a {
    display: inline-block;
    padding: 3px 0;
    margin-right: 5px;
}

.content {
    width: calc(100% - 540px);
    position: absolute;
    top: 95px;
    left: 200px;
}

.ad {
    width: 300px;
    height: auto;
    margin: 0;
    display: inline-block;
    background: #fff;
    overflow: hidden;
    position:absolute;
    top:100px;
    right:15px;
}

.ad.fixed{
    position:fixed;
    top: 15px;
    right: 15px;
}

.ad .adsbygoogle {
    margin-bottom: 20px;
}

.adsbygoogle.in {
    width: 100%;
    height: 280px;
}

.ad-content {
    width: 100%;
    height: auto;
}

.ad.hidden,
.ad-content.hidden {
    display: none;
}

@media (max-width:1024px) {
    .content {
        width: calc(100% - 250px);
        padding: 0;
    }

    .content h2{
        padding:0 20px 0 10px;
    }

    .ad {
        display: none;
    }
}

@media (max-width:640px) {
    .content {
        padding: 0;
    }
}

h3 {
    text-align: center;
    width: 100%;
    margin: 0 0 20px;
    padding-top: 30px;
    border-top: 3px solid #eee;
    font-size: 22px;
}

h2 {
    width: 100%;
    margin: 0 0 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    padding: 0;
    box-sizing: border-box;
}

h2 b {
    color: #f50;
    font-weight: bold;
}

.box,
.contentAD {
    width: 100%;
    margin: 0 auto 10px;
    padding: 0 0 30px;
}

.contentAD,
.contentAD .emoji2 {
    display: none;
}

.adsbygoogle.top{
    width:100%;
    height:90px;
}

@media (max-width:1024px) {
    h2 {
        padding: 0 30px;
    }

    .box,
    .contentAD {
        display: inline-block;
        padding: 0 10px 30px;
    }

    .contentAD .emoji2 {
        display: block;
    }
}

@media (max-width:640px) {
    h2 {
        padding: 0 20px;
    }

    .box,
    .contentAD {
        display: inline-block;
        padding: 0 9px 30px;
        text-align: center;
    }
    .adsbygoogle.top{
        width:100%;
        height:240px;
    }
}

.copy {
    position: relative;
    background-image: url(facebook-emoji-list-s.jpg);
    width: 36px;
    height: 36px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 5px;
}

.face .copy,
.recommend .copy {
    background-image: url(facebook-emoji-first-s.jpg);
}

.lazydom{
    word-break: break-all;
    font-size:24px;
    letter-spacing: 15px;
    line-height: 42px;;
}

@media (max-width:640px) {
    .copy {
        margin: 0 3px;
    }
}

.copy::before {
    content: "已複製";
    position: absolute;
    top: -20px;
    left: -10px;
    width: 40px;
    background: #000;
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    transition: .3s;
    z-index: 99;
    pointer-events: none;
}

.copy.now {
    border-color: #a00;
}

.copy.now::before {
    top: -25px;
    opacity: .7;
}

.copy.selected {
    border-color: #ccc;
}

a {
    color: #06a;
}

a:hover {
    color: #f50;
}


#menu {
    position: fixed;
    top: 34px;
    right: 20px;
    width: 30px;
    height: 4px;
    background: #fff;
    z-index: 10002;
    cursor: pointer;
    display: none;
}

#menu::before,
#menu::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 20px;
    top: -10px;
    left: 0;
}

#menu::before {
    border-top: 4px solid #fff;
    transform-origin: top left;
}

#menu::after {
    border-bottom: 4px solid #fff;
    transform-origin: bottom left;
}

#menu #reddot {
    position: absolute;
    right: -10px;
    top: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    z-index: 10004;
    color: #fff;
    animation-name: reddot;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#menu #reddot.hidden {
    display: none;
}

@keyframes reddot {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}

#menu.open {
    right: 15px;
    background: transparent;
}

#menu.open::before {
    transform: rotate(45deg);
}

#menu.open::after {
    transform: rotate(-45deg);
}

@media(max-width:640px) {
    h1{
        position:fixed;
        top:0;
        left:0;
    }
    aside {
        width: 90%;
        height: 100vh;
        padding: 25px;
        border: none;
        border-right: 2px solid #ccc;
        box-shadow: #000 0 0 0;
        position: fixed;
        top: 0;
        left:auto;
        right: -110%;
        border-radius: 0;
        background: #333;
        z-index: 10001;
        color: #fff;
    }
    aside.fixed{
        top:0;
    }
    aside h2{
        font-size:24px;
        margin:0 0 20px;
        padding:0;
    }

    aside a{
        color:#fff;
        font-size:20px;
        margin:0 15px 5px 0;
    }

    aside.show{
        right: -30px;
    }

    .content {
        width: calc(100% - 20px);
        left: 10px;
    }

    .content h2 {
        padding: 0 10px;
        text-align: left;
    }

    #menu {
        display: block;
    }

    h1 span{
        display:none;
    }

    h3{
        padding-top:100px;
        margin-top:-80px;
        border:none;
        position:relative;
        pointer-events: none;
    }
    h3#a1:before{
        content:"";
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        height:3px;
        background:#ddd;
        pointer-events: none;
    }
}