html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body * {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: normal;
}

[hidden] {
  display: none;
}

header {
  text-align: center;
  width: 100%;
  background: #345;
  color: #fff;
  margin: 0;
  padding: 20px 0;
}

header h1 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.content {
  width: 100%;
  max-width:1560px;
  margin:0 auto;
}

aside {
  width: 200px;
  height: auto;
  max-height:calc(100vh - 200px);
  padding: 20px;
  border: 1px solid #aaa;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  overflow-y: scroll;
}

aside h3 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: center;
}

aside a {
  width: 100%;
  display: block;
  color: #05a;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: .3s;
  margin-bottom: 10px;
}

aside a:hover {
  color: #f50;
}

aside.fixed {
  position: fixed;
}

main {
  display: inline-block;
  width: calc(100% - 600px);
  margin-left: 240px;
  margin-top: 15px;
  padding: 10px;
}

main h4 {
  width: 100%;
  font-size: 1.3rem;
  padding-left: 15px;
  margin-top: -30px;
  padding-top: 30px;
  pointer-events: none;
}

main h4::before {
  content: '';
  position: absolute;
  width: 8px;
  background: #e55;
  height: 30px;
  top: 27px;
  left: 0;
  border-radius: 20px;
  pointer-events: none;
}

main p {
  width: 100%;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd;
  line-height: 1.8;
  margin-bottom: 50px;
}

main .tag {
  margin-bottom: 20px;
}

main .tag a {
  color: #fff;
  background: #09c;
  padding: 5px 10px;
  margin: 3px 0;
  border-radius: 20px;
  display: inline-block;
}

main .tag a:hover {
  color: #fff;
  background: #e30;
}

main a {
  color: #05a;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
}

main a:hover {
  color: #f50;
}

main ul {
  width: 100%;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd;
  margin-bottom: 50px;
  list-style: none;
}

main ul li {
  width: 100%;
  line-height: 1.7;
  padding-left: 10px;
  border-left: 7px solid #e5e5e5;
  margin-bottom: 20px;
  margin-top: 0px;
}

main ul li:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 2px dashed #ddd;
}

main ul li:last-child:after {
  border-bottom: none;
}

.ad {
  width: 300px;
  height: 600px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.ad.fixed {
  position: fixed;
}

.ad-content {
  width: 100%;
  height: 300px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.ad-content.top{
  height:90px;
}

.ad.hidden,
.ad-content.hidden {
  display: none;
}

.adsbygoogle.in {
  width: 100%;
  height: 280px;
}

.adsbygoogle.top {
  width: 100%;
  height: 90px;
}

#menu {
  display:table;
  position: fixed;
  top: 16px;
  right: 20px;
  width: 30px;
  height: 26px;
  z-index: 10002;
  border-top:4px solid #fff;
  border-bottom:4px solid #fff;
  cursor: pointer;
}

#menu::before,
#menu::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  top: 7px;
  background:#fff;
  left: 0;
}

#menu::before {
  transform-origin: top left;
}

#menu::after {
  transform-origin: bottom left;
}

#menu #reddot{
  position:absolute;
  right:-10px;
  top:-20px;
  width:20px;
  height:20px;
  border-radius:50%;
  background:red;
  z-index:10004;
  color:#fff;
  animation-name:reddot;
  animation-duration:.3s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
#menu #reddot.hidden{
  display:none;
}
@keyframes reddot{
  from{
    transform:scale(1);
  }
  to{
    transform:scale(.8);
  }
}

#menu.open {
  right: 15px;
  background: transparent;
  border-color:transparent;
}

#menu.open::before {
  transform: translateY(-10px) rotate(45deg);
}

#menu.open::after {
  transform: translateY(10px) rotate(-45deg);
}

footer {
  width: 100%;
  background: #345;
  color: #fff;
  text-align: center;
  padding: 40px 10px 50px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fc0;
}

.ad-footer{
  display:none;
  position:fixed;
  z-index:10003;
  background:#000;
  bottom:0;
  left:0;
  width:100%;
  height:50px;
  box-shadow: 0 -4px 0 #000;
}
.ad-footer .adsbygoogle{
  min-width:300px;
  max-width:100%;
  width:auto;
  height:50px;
  margin:0 auto;
}

@media (max-width:1024px) {
  main {
    width: calc(100% - 300px);
  }

  .ad {
    display: none;
  }
}

@media(max-width:800px) {
  html{
    font-size:17px;
  }
  body {
    padding-top: 80px;
  }

  header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10000;
    padding:15px 0;
  }

  header h1 {
    margin-bottom: 0;
    font-size: 1.3rem;
  }

  h2 {
    position: absolute;
    top: -200px;
  }

  aside {
    width: 90%;
    height: 100vh;
    max-height:100vh;
    padding: 20px;
    border: none;
    border-right: 2px solid #ccc;
    box-shadow: #000 0 0 0;
    position: fixed;
    top: 0;
    left:auto;
    right: -90%;
    border-radius: 0;
    background: #333;
    z-index: 10001;
    color: #fff;
  }

  aside.show {
    right: 0;
    box-shadow: #000 0 0 20px;
  }

  aside h3 {
    padding: 5px 0 25px;
    margin: 0 0 25px;
    font-size:1.2rem;
  }

  main {
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-top: 0px;
  }

  main h4 {
    margin-top: -100px;
    padding-top: 100px;
    pointer-events: none;
  }

  main h4::before {
    top: 98px;
    left: -3px;
    pointer-events: none;
  }

  aside a {
    margin: 15px 0;
    color: #fff;
    font-size:1.2rem;
  }

  footer {
    padding: 20px 10px 70px;
  }
}

@media(min-width:800px) {
  #menu {
    display: none;
  }
}